@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'custom';
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-primary: oklch(0.2393 0.0581 256.66);
  --color-secondary: oklch(0.5237 0.086 179.14);
  --color-accent: oklch(0.7665 0.1387 91.06);
  --color-neutral-content: oklch(0.2237 0.0049 219.69);
  --color-base-content: oklch(0.3973 0.0108 264.44);
  --color-neutral: oklch(0.9816 0.0017 247.84);
}
